.App {
  font-size: 3.9vw;
  display: grid;
  justify-items: center;
  text-align: center;
}

.numbersInput{
  display: grid;
  grid-template-columns: 250px 70px;
}

.numbersArray{
  display: grid;
  grid-template-columns: 130px 130px 130px;
}

.number{
  background-color: rgb(218, 143, 45);
  padding: 25px;
  margin: 1.3px;
}

.number:hover{
  cursor: pointer;
  background-color: rgb(13, 158, 78);
}
