.App {
  font-size: 3.7vmin;
  display: grid;
  justify-items: center;
  text-align: center;
}

.numbersInput{
  display: grid;
  grid-template-columns: 250px 70px;
}

.numbersArray{
  position: relative;
  display: grid;
  grid-template-columns: 19vmin 19vmin 19vmin;
}
.operatorsArray{
  display: grid;
   position: relative;
  grid-template-columns: 17vmin 17vmin;
}

.calculator{
   display: grid;
  grid-template-columns: 65vmin 34vmin;
}

.number{
  background-color: rgb(218, 143, 45);
  padding: 4vmin;
  margin: 1.3px;
}

.number:hover{
  cursor: pointer;
  background-color: rgb(13, 158, 78);
}

.result{
  font-size: 5vmin;
}